<h1>Patients#show</h1>
<p>Find me in app/views/patients/show.html.erb</p>

<p>
  <strong>Name: </strong>
  <%= @patient.name %>
</p>

<p>
  <strong>Confirmed Appointments: </strong><br>
  <% @appointments.each do |appointment| %>
  <tr>
    <td>Complaint: <%= appointment.complaint %></td><br>
    <td>Time: <%= appointment.time%></td><br>
    <td><%= link_to "Show", appointment %></td>
    <td><%= link_to "Edit", edit_appointment_path(appointment) %></td>
    <td><%= link_to "Remove", appointment, method: :delete, data: { confirm: "Are you sure?" } %></td>
  </tr>
<% end %>
</p>

<%= link_to 'Back', root_path %>
<%= link_to 'New appointment', new_appointment_path %>
