<h1>Edit appointment with <%=@doctor.name%></h1>

<%= form_for :appointment, url: appointment_path(@appointment), method: :patch do |f| %>

<p>
  <strong><%= f.label :complaint %></strong><br>
  <%= f.text_field :complaint %>
</p>

<p>
  <strong><%= f.label :doctor %></strong><br>
  <%= f.select :doctor_id, Doctor.all.collect {|x| [x.name, x.id]}  %>
</p>

<p>
  <strong><%= f.label :time %></strong><br>
  <p style= "font-size:13px;margin-top:-10px;">Please select a time between 9am to 5pm (appts made on an hourly basis)</p>
  <select name="time">
    <option value="9">9</option>
    <option value="10">10</option>
    <option value="11">11</option>
    <option value="12">12</option>
    <option value="13">13</option>
    <option value="14">14</option>
    <option value="15">15</option>
    <option value="16">16</option>
  </select>
</p>

  <p>
    <%= f.submit %>
  </p>

<% end %>

<%= link_to 'Back', :back %>
